<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis2.mapper.PersonMapper">
    <!--方法1——用嵌套查询方式实现：根据ID查询person信息-->
    <select id="findPersonById" resultMap="result1">
        select * from tb_person where id=#{id}
    </select>
    <!--映射-->
    <resultMap id="result1" type="person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <!--1:1用嵌套方式查询-->
        <association property="cardId" column="cardId" javaType="Idcard"
                     select="com.mybatis2.mapper.CardMapper.findCaryById"/>
    </resultMap>
    <!--方法2——用嵌套查询方式实现：根据ID查询person信息-->
    <select id="findPersonById2" resultMap="result2">
        select p.*,c.code from tb_person as p,tb_idcard as c where p.cardId=c.id and p.id=#{id}
    </select>
    <!--配置resultMap-->
    <resultMap id="result2" type="person" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <!--嵌套结果-->
        <association property="cardId"  javaType="Idcard" >
            <id property="id" column="id"/>
            <result property="code" column="code"/>
        </association>

    </resultMap>
</mapper>